*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;

}

.navbar-menu-toggle{
    display: none;
}

/*Side Navbar*/

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    z-index: 1000;
    
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-link a{
    text-decoration: none;
    color: white;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

.shop-btn {
    display: inline-block;
    background-color: #1D232C;
    color: #F2F4F7;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 0px;
    font-size: 16px;
}

.shop-btn:hover {
    background-color: #222;
}


.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5PX;
    padding: 10PX;
}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
    
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 10px;
    border: none;
    
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20PX;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10PX;
    padding: 10PX;
}

.footer{
    width: 100%;
    background-color: #1D232C;
    color: #F2F4F7;
    padding: 60px 40px;
    margin-top: 80px;
    position: static;
    display: block;
}


.search-container {
  margin-top: 20px;
  right: 30px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center; 
  position: relative;       
  top: 0;
  z-index: 1;
  
}

.search-container input {
  width: 250px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  padding: 40px;
}

.products-box img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.products-box p {
    margin-top: 10px;
    text-align: center;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
 


 .contact-container {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F4F7;
}


.contact-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  background: #1f2937;
  padding: 40px;
  width: 520px;
  border-radius: 10px;
}

.contact-box h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}
.contact-box form {
  display: flex;
  flex-direction: column;
}


.contact-box label {
  color: #ffffff;
  margin-bottom: 6px;
  font-size: 14px;
}


.contact-box input,
.contact-box textarea {
  padding: 12px;
  margin-bottom: 18px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}


.contact-box textarea {
  resize: none;
  height: 120px;
}


.contact-box button {
  padding: 12px;
  background: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.contact-box button:hover {
  background: #1d4ed8;
}






/*Media Query*/

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }

    .service-container-1{
        display: none;
    }

    .service-container-2{
        flex-direction: column;
    }
}